
p {
    margin: 0;
}
button.beat {
    background-color: white;
    padding: 10px;
    border: 10px solid #FFD0AE;
    margin: 5px;
    cursor: pointer;
    width: 0;
    height: 0;
}
button.on {
    background-color: #fb7b0c;
    border-color: #fb7b0c;
}
button.ticked {
    background-color: #FFD0AE;
    border-color: white;
}
#grid {
    width: 800px;
    height: 200px;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

a {
    text-decoration: none;
    display: inline-block;
    padding: 10px 16px;
    }
    
a:hover {
background-color: #ddd;
color: black;
}

.previous {
    background-color: #f1f1f1;
    color: black;
    border-radius: 50%;
    position: absolute;
    top: 100px;
    left:300px;
}

#bpm_entry{
    font-family: 'Open Sans', sans-serif;
    color: #fb7b0c;
    text-align: center;
    margin-top: 200px;
}