.switch {
    cursor: pointer;
    margin: 1vh;
    text-align: center;
    display: inline-block;
    width: 6vh;
}

.button {
    height: 5vh;
    width: 6vh;
    background-size: 100%;
    background-image: url("../img/switch.png");
}

.switches {
    position: absolute;
    bottom: 2vh;
    left: 0;
    width: 100%;
    -webkit-transform: translateZ(1px);
    -moz-transform: translateZ(1px);
}

.leds {
    position: absolute;
    bottom: 14vh;
    left: 0;
    width: 100%;
}

.led {
    text-align: center;
    display: inline-block;
    height: 1.6vh;
    width: 1.6vh;
    border-radius: 50%;
    opacity: 0.6;
    -webkit-transform: translateZ(1px);
    -moz-transform: translateZ(1px);
}

.led:after {
    content: '';
    display: block;
    height: 1.6vh;
    width: 1.6vh;
    position: absolute;
    border-radius: 50%;
    box-shadow: 0px 2px 12px 1px rgba(0,0,0,1);
}

.led.on {
    opacity: 1;
    background-color: white;
}

.led.on:after {
    box-shadow: 0px 2px 12px 1px rgba(0,0,0,0.2);
}
